appdirs==1.4.4
appnope==0.1.2
backcall==0.2.0
click==7.1.2
decorator==5.0.7
distlib==0.3.1
filelock==3.0.12
Flask==1.1.4
ipython==7.22.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
MarkupSafe==2.1.1
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.8.1
six==1.15.0
traitlets==5.0.5
virtualenv==20.4.3
wcwidth==0.2.5
Werkzeug==1.0.1
